@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300..800&display=swap');
@import "tailwindcss";

html {
  font-family: "Open Sans", serif;
}

@theme {
  --color-brown-50: #F5F5DC;
  --color-brown-100: #E2D4C7;
  --color-brown-200: #C6B19F;
  --color-brown-300: #C2B280;
  --color-brown-400: #8A795D;
  --color-brown-500: #5A4633;
  --color-brown-600: #4B392B;
  --color-brown-700: #3D2D23;
  --color-brown-800: #3C2F22;
  --color-brown-900: #1F1612;

  --color-terracota-red: #501E0D;
}
